.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: white;
    padding: 1rem;
    box-shadow: 0 4px 13px -3px #0000001a;
    border-bottom: 1px solid #d2d2d2;

    .menu-button {
        @media (max-width: 767.98px) {
            .btn-primary {
                margin-right: 1rem;
            }
        }
    }
}